https://docs.delta.io/latest/delta-update.html#upsert-into-a-table-using-merge

# SCD Type-1

In [0]:
%python
data=([(1,'Akshay',"UAE"),(2,'Aman',"India"),(3,'Divya',"US"),(4,'Himanshu',"UK"),(5,'Gaurav',"India"),(6,'Harish',"UK")])
schema="id","name","country"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
%sql
create table emp(id int, name string, country string)

In [0]:
%sql
MERGE INTO emp as t
USING source as s
ON t.id = s.id
WHEN MATCHED THEN
  UPDATE SET
    t.name = s.name,
    t.country=s.country
WHEN NOT MATCHED
  THEN INSERT (
    id,
    name,
    country
  )
  VALUES (
    s.id,
    s.name,
    s.country
  )

In [0]:
%sql
select * from source

In [0]:
%python
data=([(1,'Akshay',"UK"),(2,'Aman',"US"),(3,'Divya',"UK"),(4,'Himanshu',"UK"),(5,'Gaurav',"India"),(6,'Harish',"UK"),(7,'Naval','India')])
schema="id","name","country"
df=spark.createDataFrame(data,schema)
df.createOrReplaceTempView("source")

In [0]:
%sql
MERGE INTO emp as t
USING source as s
ON t.id = s.id
WHEN MATCHED THEN
  UPDATE SET
    t.name = s.name,
    t.country=s.country
WHEN NOT MATCHED
  THEN INSERT (
    id,
    name,
    country
  )
  VALUES (
    s.id,
    s.name,
    s.country
  )

In [0]:
%sql
select * from emp